<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogPathData" value="~/LogFile/LogData_1_"/>
    <add key="LicenseKey" value="koAIuNXaPTsmUL3H+wRRNW2j7wZbz5dAjdgMYosCbKsQJSfqFMGzgA=="/>

    <!-- Cấu hình upload Image !-->
    <add key="UI_GeneralFN" value="true"/>
    <add key="UI_Path" value="~/u/ni/"/>
    <add key="UI_Extension" value=".png|.gif|.jpg|.jpeg"/>
    <add key="UI_MaxSize" value="10240"/>
    <add key="UI_Path" value="~/u/ni/"/>
    <add key="UI_WH_Thumb" value="90x60"/>
    
    <!-- Cấu hình upload Image cho News !-->
    <add key="News_UI_GeneralFN" value="true"/>
    <add key="News_UI_Path" value="~/u/ni/"/>
    <add key="News_UI_Extension" value=".png|.gif|.jpg|.jpeg"/>
    <add key="News_UI_MaxSize" value="10240"/>
    <add key="News_UI_Path" value="D:\temp\"/>
    <add key="News_UI_WH_Thumb" value="90x60"/>


    <add key="LocationPath" value="D:\temp" />
    <add key="SaveAsPath" value="D:\temp\v" />
    <add key="ServerPath" value="D:\temp" />
  </appSettings>
  <connectionStrings>
    <remove name="strConnection_MySQL"/>
    <add name="strConnection" connectionString="Pooling=false; Data Source=203.162.71.165 ;Initial Catalog=IComStore_test;Persist Security Info=True;User ID=IComStore_test;Password=1q2w3e4r5t;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
